*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 2fr;
    width: 75vw;
    height: 100vh;
}

h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.form-wrapper {
    display: grid;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    border: 1px solid black;
    height: 40vh;
    width: 50vw;
}

header {
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

header h2 {
    width: max-content;
    border-bottom: 1px solid black;
}

.p1-assignment {
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.p2-assignment {
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.player-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

input[type="text"]{
    width: 15ch;
}

.name1-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
}

.p1-x-label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.p1-o-label {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.name2-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.p2-x-label {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.p2-o-label {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.player-info button {
    margin-bottom: 10px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
}


.board-wrapper {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    width: 300px;
    height: 300px;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-column {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.middle-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.status-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    border-top: 1px solid black; 
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.status {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 100px;
    height: 25px;
}

.no-show {
    display: none;
}